{% extends 'summarygen/base.html' %} {% block content %}
<div class="max-w-3xl mx-auto mt-10">
  <!-- <h1 class="text-3xl font-bold text-center mb-6">
    YouTube Transcript Generator
  </h1> -->
  <form method="post" class="text-center mb-6" id="summary-form">
    {% csrf_token %}
    <div class="relative flex items-center justify-center">
      <div id="loading-spinner" class="hidden absolute left-0 ml-4">
        <svg
          class="animate-spin h-10 w-10 text-blue-500"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8v8H4z"
          ></path>
        </svg>
      </div>
      <input
        type="text"
        name="video_url"
        placeholder="Enter YouTube URL"
        value="https://www.youtube.com/watch?v=qC1QlUr5mCE"
        class="border p-2 w-3/4 pl-16 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent text-gray-500"
        onfocus="if(this.value === 'https://www.youtube.com/watch?v=qC1QlUr5mCE') { this.value = ''; this.classList.remove('text-gray-500'); }"
        onblur="if(this.value === '') { this.value = 'https://www.youtube.com/watch?v=qC1QlUr5mCE'; this.classList.add('text-gray-500'); }"
        required
      />
      <button
        type="submit"
        class="bg-blue-500 text-white p-2 rounded-lg ml-2 hover:bg-blue-600"
      >
        Generate Summary
      </button>
    </div>
  </form>

  {% if summary %}
  <div class="bg-white p-4 rounded-lg shadow-md mb-4 scroll-box">
    <h2 class="text-xl font-bold mb-2">Summary</h2>
    <pre class="bg-gray-100 p-4 rounded whitespace-pre-wrap">{{ summary }}</pre>
  </div>
  {% endif %} {% if transcript_text %}
  <div class="bg-white p-4 rounded-lg shadow-md scroll-box">
    <h2 class="text-xl font-bold mb-2">Transcript</h2>
    <pre class="bg-gray-100 p-4 rounded whitespace-pre-wrap">
{{ transcript_text }}</pre
    >
  </div>
  {% endif %}
</div>

<script>
  document
    .getElementById("summary-form")
    .addEventListener("submit", function () {
      document.getElementById("loading-spinner").classList.remove("hidden");
    });
</script>
{% endblock %}
